@import url("https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-family: "Cherry Swash", cursive;
  background-color: #34495e;
  color: #fff;
}

#main-header h1 {
  margin-bottom: 2.7rem;
}

nav {
  background-color: #16aac4;
  padding: 1rem 1.2rem;
  border-radius: 10px;
  opacity: 0.8;
}

nav a {
  text-decoration: none;
  padding: 12px 24px;
  color: #fff;
  text-transform: capitalize;
  position: relative;
}

nav a::before {
  content: "";
  width: 0;
  height: 5px;
  background-color: #d40b26ef;
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.5s;
  border-radius: 5px;
}

nav a::after {
  content: "";
  width: 0;
  height: 5px;
  background-color: gold;
  position: absolute;
  top: 100%;
  right: 0;
  transition: all 0.5s;
  border-radius: 5px;
}

nav a:hover::before {
  width: 50%;
  transform: translateX(100%);
}

nav a:hover::after {
  width: 50%;
  transform: translateX(-100%);
}
